.ace_editor{
    margin: 0;
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    right:50%;
}

body {
    padding: 0;
    margin: 0;
    width:100%;
    height:100%;
}

#run {
    position:absolute;
    right: calc(50% + 16px);
    top: 16px;
}

#tabHolder{
    position: fixed;
    left:50%;
    top:0;
    bottom:0;
    right:0;
    display:flex;
    flex-direction:column;
}

#tabButtons {
    display:flex;
    flex-grow:0;
    flex-direction:row;
    background-color:#333;
    padding-top:4px;
}

#tabBodies{
    flex-grow:1;
    border-top:solid 1px white;
    
    background-color:#111;
}

.tabBody:not(.active){
    display:none;
}

.tabBody.active{
    width:100%;
    height:100%;
}

.tabButton{
    border:none;
    border-radius: 4px 4px 0px 0px;
    border: solid 1px white;
    border-bottom: solid 1px #111;
    margin-left:4px;
    color:white;
    background-color:#111;
    font-family:monospace;
    margin-bottom:-1px;
}
.tabButton:not(.active):hover {
    background-color:#333;
    cursor:pointer;
}
.tabButton:not(.active):active {
    background-color:#FFF;
    color:#111;
    cursor:pointer;
}

.tabButton.active{
    color:#111;
    background-color:#FFF;
}

iframe {
    width:100%;
    height:100%;
    border:none;
}

#tabSaveLoad {
    color:white;
    font-family: monospace;
    padding: 1em;
}

#tabSaveLoad button {
    border-radius:4px;
    border: solid 1px white;
    background-color:#111;
    color:white;
}
#tabSaveLoad button:hover {
    background-color:#333;
    cursor:pointer;
}
#tabSaveLoad button:active {
    background-color:#FFF;
    color:#111;
    cursor:pointer;
}