.ace_editor{
    margin: 0;
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    right:50%;
}

body {
    padding: 0;
    margin: 0;
    width:100%;
    height:100%;
}

#run {
    position:absolute;
    right: calc(50% + 16px);
    top: 16px;
}

#output {
    border: none;
    position:fixed;
    left:50%inherit;
    top:0;
    bottom:0;
    right:0;
    background-color: black;
}